<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <page-topo></page-topo>
  <div *ngIf="jogoEmAndamento; else fimDeJogo ">
    <page-painel (encerrarJogo)="encerrarJogo($event)"></page-painel>
  </div>
  <ng-template #fimDeJogo>
    <div *ngIf="vitoria; else exibeDerrota " class="container">
      <ion-item style="text-align: center; vertical-align: middle; height: 60px; padding: 2px; font-size: 16px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <p>
          <ion-icon name="md-close-circle" ></ion-icon>
          <strong>Fim de Jogo!</strong> Você ganhou. Parabêns!!!
        </p>
      </ion-item>              
      <ion-buttons end>
        <button ion-button item-end (click)="reiniciarJogo()">Jogar novamente</button>
      </ion-buttons>
    </div>
  </ng-template>
  <ng-template #exibeDerrota>
      <ion-item style="text-align: center; vertical-align: middle; height: 60px; padding: 2px; font-size: 16px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <p>
          <ion-icon name="md-close-circle" ></ion-icon>
          <strong>Fim de Jogo!</strong> Infelizmente você perdeu.
        </p>
      </ion-item>              
      <ion-buttons end>
        <button ion-button item-end (click)="reiniciarJogo()">Jogar novamente</button>
      </ion-buttons>
  </ng-template>
  </ion-content>
